<%%= form_for(@<%= singular_table_name %>) do |f| %>

<%%= error_explanation_for @<%= singular_table_name %> %>

<% for attribute in attributes -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </div>
<% end -%>

  <div class="actions">
    <%%= f.submit %>
  </div>

<%% end %>
